@model Hypnosis.Web.Models.PersonDetailsModel
<div class="form-inline form-inline-margins">
    <div class="form-group">
        @Html.LabelFor(model => model.Person_Senior, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Person_Senior, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Person_Senior, "", new { @class = "text-danger" })*@
    </div>
</div>
<div class="form-inline form-inline-margins">


    <div class="form-group">
        @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
    </div>
</div>
<div class="form-inline form-inline-margins">

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TZ, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.TZ, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
    </div>



</div>

<div class="form-inline form-inline-margins">
    <div class="form-group">
        <label>פרטי קשר</label>
    </div>
</div>
<div class="form-inline form-inline-margins">

    <div class="form-group">
        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phones, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Phones, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phones, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InMailingList, htmlAttributes: new { @class = "control-labe label-normal" })
        @Html.CheckBoxFor(model => model.InMailingList.Value, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.ValidationMessageFor(model => model.Person_Senior, "", new { @class = "text-danger" })*@
    </div>
</div>
<div class="form-inline form-inline-margins">

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address_Comments, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.Address_Comments, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address_Comments, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label label-normal" })
        @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
    </div>

</div>
<div class="form-inline form-inline-margins">
    <div class="form-group">
        <label>רשיונות</label>
    </div>
</div>
<table>
    <tr rowspan="5">
        <td>
            <div class="form-inline form-inline-margins">

                <div class="form-group">

                    @Html.LabelFor(model => model.Ministry_CaseNumber, htmlAttributes: new { @class = "control-label label-normal-one" })
                    @Html.EditorFor(model => model.Ministry_CaseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ministry_CaseNumber, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-inline form-inline-margins">
                <div class="form-group">
                    <label class="label-title">פסיכולוגיה</label>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.Psyhology_LicenseNumber, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Psyhology_LicenseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Psyhology_LicenseNumber, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Psyhology_Specialization, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Psyhology_Specialization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Psyhology_Specialization, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-inline form-inline-margins">
                <div class="form-group">
                    <label class="label-title">רפואה</label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine_LicenseNumber, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Medicine_LicenseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Medicine_LicenseNumber, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Medicine_Specialization, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Medicine_Specialization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Medicine_Specialization, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="form-inline form-inline-margins">
                <div class="form-group">
                    <label class="label-title">רפואת שיניים</label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Stomatology_LicenseNumber, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Stomatology_LicenseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stomatology_LicenseNumber, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Stomatology_Specialization, htmlAttributes: new { @class = "control-label label-normal" })
                    @Html.EditorFor(model => model.Stomatology_Specialization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stomatology_Specialization, "", new { @class = "text-danger" })

                </div>

            </div>
        </td>

        <td>

            <div class="form-inline form-inline-margins">
                <div class="form-group">
                    @Html.LabelFor(model => model.Person_Comments, htmlAttributes: new { @class = "control-label label-bold" })
                    @Html.TextAreaFor(model => model.Person_Comments, new { @class = "form-control", @rows = 5, @cols = 6 })
                </div>
            </div>
        </td>
        <td>
</table>
